* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}


.container {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 15px;
  width: 100%;
}

.header {
  margin-block: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.addProductButton {
  background-color: #1abc9c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  transition: background-color 0.2s ease-in-out, transform 0.1s ease-in-out;
}

.addProductButton:hover {
  background-color: #16a085;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
}

.addProductButton:active {
  background-color: #1abc9c;
  transform: translateY(0px);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

.deleteProductButton {
  background-color: #ee0808;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  transition: background-color 0.2s ease-in-out, transform 0.1s ease-in-out;
}

.deleteProductButton:hover {
  background-color: #d30000;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
}

.deleteProductButton:active {
  background-color: #ee0808;
  transform: translateY(0px);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

.buttonContainer {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.product-card {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: .5em
}

.form-container>div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: auto;
}

.form-container>div>label {
  display: flex;
  align-items: center;
  width: 120px;
  margin-right: 10px;
}

.swal2-input {
  margin: 0 !important;
  height: 32px;
  max-width: 100%;
}

.swal2-confirm {
  background-color: #1abc9c;
  border: 2px solid #15877d;
}